body {
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edede9;
    font-family: "Sofia Sans";
}

#calculator-body {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: grey;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 5vh;
}

#calculator-screen {
    width: 325px;
    height: 125px;
    background-color: #edede9;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-end;
    border-radius: 20px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 325px;
    height: 400px;
}

button {
    width: 1fr; 
    border-radius: 20px;
    border-style:solid;
    margin: 0.5px;
}

.number,
#decimal-button {
    background-color: #edede9;
}

#ac-button:hover,
#c-button:hover {
    background-color: #e29578;
}

.operator:hover {
    background-color: #2a9d8f;
}

.number:hover,
#decimal-button:hover{
    filter: brightness(110%);
}


#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #e9c46a;
}

#equals-button:hover {
    filter: brightness(110%);
}

#former-input,
#current-input {
    box-sizing: border-box;
    padding: 5px;
}

#former-input {
    flex: 1;
    font-size: 25px;
}

#current-input {
    flex: 2;
    font-size: 45px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #778da9;
}
