body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: grey;
    justify-content: space-evenly;
    align-items: center;
}

#calculator-screen {
    width: 325px;
    height: 125px;
    background-color: white;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 325px;
    height: 400px;
}

button {
    width: 1fr; 
}

#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
}