body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: grey;
    justify-content: space-evenly;
    align-items: center;
}

#calculator-screen {
    width: 325px;
    height: 125px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-end;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 325px;
    height: 400px;
}

button {
    width: 1fr; 
}

#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
}
#former-input,
#current-input {
    box-sizing: border-box;
    padding: 5px;
}

#former-input {
    flex: 1;
    font-size: 25px;
}

#current-input {
    flex: 2;
    font-size: 50px;
}